body{
    background-image: url("/360_F_336279981_xAKnbMOY8Rerdqir6pvL4hGn8GRR8OYv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 5px;
    padding: 5px;
    border: 5px;
}
.nav{
    
    text-align: right;
}
.me{
    height: auto;
    width: 15%;
    float: right;
    clip-path: circle();
    justify-content: right;
    align-items: right;
    margin: 18px;

}
.hd{
    color: whitesmoke; text-align: center;
}
.bd{
    color: azure;
    font-size: large;
}
.bd_c{
    color: azure;
    clear: right;
    font-size: large;
}
a{
    text-decoration: none;
    color: rgb(203, 198, 90);
    transition: width 2s;
}
a:hover{
    text-decoration: none;
    color: wheat;
    width: 100px;
}
.ft{  
    justify-content: space-around;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 7px;
    border-radius: 5px;
}
